#git+https://github.com/nghorbani/body_visualizer
git+https://github.com/MPI-IS/configer.git
git+https://github.com/MPI-IS/mesh.git

tqdm
numpy
dotmap
pytorch-lightning
PyYAML
torch
transforms3d==0.3.1
pytorch3d
omegaconf
loguru

